@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply sm:max-md:w-full;
  }

  body {
    @apply text-vedoc-black;
  }

  body.lock-scroll {
    @apply overflow-hidden;
  }

  .main-title {
    @apply text-xl md:text-4xl lg:text-6xl font-medium uppercase font-roboto text-center;
  }

  .page-title {
    @apply font-roboto uppercase font-medium text-xl lg:text-5xl py-3 md:py-5 text-center;
  }

  .intro-title {
    @apply text-xs md:text-lg font-medium leading-8;
  }

  .section-title {
    @apply font-roboto uppercase font-medium text-xl md:text-xl lg:text-4xl py-5 md:py-8;
  }

  .subtitle-text {
    @apply text-xs md:text-sm lg:text-xl leading-5 md:leading-7 text-center font-light;
  }

  .content-text {
    @apply leading-8 font-light text-sm lg:text-base;
  }

  /* Layout */
  /* Navbar */
  .navbar {
    @apply bg-white border-b shadow-sm fixed w-screen justify-between px-6 py-4 xl:px-28 items-center font-normal z-50;
  }

  .navbar li {
    @apply hidden text-lg text-gray-500 font-light md:block;
  }

  .active {
    @apply underline text-vedoc-black;
  }

  .navbar li+li::before {
    @apply p-4 md:p-2 lg:p-5;
    content: "";
  }

  .button-lg {
    @apply hidden bg-vedoc-yellow hover:bg-vedoc-ad-yellow h-14 w-64 xl:flex justify-center items-center rounded-lg
    border border-gray-500 shadow-md text-vedoc-black text-lg leading-7;
    transition-property: background-color;
    transition-duration: 0.3s;
    ;
  }

  .button-md {
    @apply bg-vedoc-yellow hover:bg-vedoc-ad-yellow flex justify-center items-center rounded-lg
    border border-gray-500 shadow-md text-vedoc-black text-lg h-14 w-64;
    transition-property: background-color;
    transition-duration: 0.3s;
    ;
  }

  .burguer-menu {
    @apply md:hidden;
  }

  .dropdown-menu {
    @apply bg-white w-full top-24 absolute z-40 p-6 md:hidden;
    height: calc(100vh - 85px);
  }

  .dropdown-menu ul {
    @apply flex flex-col items-center justify-between h-full;
  }

  .dropdown-menu li {
    @apply p-2 text-base text-gray-500;

  }

  .dropdown-menu li:hover {
    @apply text-vedoc-black;
  }

  /* Ad */
  .ad-section {
    @apply w-full flex flex-wrap lg:flex-nowrap bg-vedoc-ad-yellow shadow xl:h-auto h-fit px-8 lg:px-20 pt-8 md:pt-10 xl:pt-24 xl:px-24;
  }

  .phones {
    @apply bg-cover bg-no-repeat lg:bg-top lg:overflow-y-hidden w-96 h-80 lg:h-full;
    background-image: url('/images/ad_app.png');
    @media only screen and (min-width: 1280px) {
      width: 524px;
    }
  }

  /* Footer */
  .vedoc-footer li+li::before {
    @apply p-1 md:p-4;
    content: "";
  }

  .vedoc-footer {
    @apply flex flex-wrap justify-center sm:justify-start md:text-sm text-vedoc-black font-light;
    @media only screen and (max-width: 768px) {
      font-size: 0.6rem;
    }
    }

  .button-vedoc {
    @apply absolute right-2 top-1/2 transform -translate-y-1/2 text-vedoc-black bg-vedoc-yellow hover:bg-vedoc-ad-yellow focus:outline-none focus:ring-gray-300 rounded-lg text-sm px-5 py-2 text-center border border-gray-300;
    transition-property: background-color;
    transition-duration: 0.3s;
  }

  .fa-icon-container {
    @apply flex items-center justify-center border-black rounded-full w-8 h-8;
    border-width: 0.5px;
  }

  .fa-icon {
    @apply text-vedoc-black w-5;
  }

  /* Home */
  /* Hero */

  .hero-image {
    @apply bg-cover lg:bg-contain bg-no-repeat bg-center h-64 lg:h-screen my-6 lg:my-10 w-full lg:w-3/4 bg-clip-content;
    background-image: url('/images/hero.png');
    @media only screen and (min-width: 425px) and (max-width: 768px) {
      background-size: contain;
    }
  }

  .app-store-icon {
    @apply bg-cover bg-no-repeat bg-center h-12 w-36;
    background-image: url('/images/app_store.png');
  };

  .google-play-icon {
    @apply bg-cover bg-no-repeat bg-center h-12 w-40;
    background-image: url('/images/google_play.png');
  };

  /* Benefits Section */

  .benefit-card {
    @apply w-full lg:w-1/2 flex flex-col xl:flex-row items-start p-2;
  }

  .benefit-card-info {
    @apply xl:pl-4;
  }

  .benefit-card-info h5 {
    @apply font-roboto font-medium text-lg lg:text-2xl text-vedoc-black uppercase py-3;
  }

  .benefit-card-info p {
    @apply leading-8 py-3 font-light text-sm lg:text-base;
  }

  .benefit-icon {
    @apply border border-black rounded-full h-16 w-16;
  }

  /* Benefits Section Mobile Carousel*/

  .swiper-container {
    @apply w-full lg:hidden;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
  }

  .swiper-container-full {
    @apply w-full;
    max-width: 100%;
    max-height: 100vh;
  }

  /* .swiper-slide {width: auto;
    flex-shrink: 0;
    display: block;
    height: 100%;
    max-height: 100%;
    } */

  .swiper-wrapper {
  max-height: 100vh;
  height: 100%;
  display: flex;
  width: 100vh;
  }

  .customNavigation {
    display: flex;
    justify-content: right;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
  }

  .customNavigationFull {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-30%);
    @media only screen and (min-width: 768px) {
      transform: translateY(50%);
    }
  }

  .customButton {
    background-color: #fff;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }

  .customButton svg {
    color: #000;
    font-size: 1.5rem;
  }

  .swiper-container {
    position: relative;
  }

  /* How It Works Section */

  .how-it-works-card {
    @apply bg-vedoc-light-yellow bg-opacity-40 rounded-lg p-6 md:p-10 shadow leading-8 hover:bg-opacity-100 hover:bg-vedoc-ad-yellow duration-700 my-6 sm:max-md:w-full;
    @media only screen and (min-width: 768px) {
      width: 560px;
      height: 400px;
    }
  }

  .num {
    @apply font-roboto font-medium text-lg md:text-2xl text-vedoc-yellow bg-vedoc-black w-11 h-11 md:w-12 md:h-12 rounded-full flex items-center justify-center;
  }

  .how-it-works-card h4 {
    @apply font-roboto font-medium text-lg md:text-2xl text-vedoc-black pt-4 md:pt-8 md:pb-5;
  }

  .how-it-works-card p {
    @apply font-light text-sm leading-8 md:text-base;
  }

  /* Testimonials Section */
  .testimonial-card {
    @apply p-5  text-sm leading-8 font-light;
      @media only screen and (min-width: 1024px) {
        width: 270px;
        height: 380px;
      }
      @media only screen and (min-width: 1440px) {
        width: 416px;
        height: 288px;
      }
  }

  .testimonial-card h5 {
    @apply font-roboto font-medium text-2xl text-vedoc-black py-2;
  }

  .rating-star {
    @apply text-vedoc-black w-5;
  }

  /* About Us Page */
  .page-image {
    @apply bg-cover bg-no-repeat bg-center w-full h-44;
    background-image: url('/images/about_page.png');
    @media only screen and (min-width: 1440px) {
      height: 40rem;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1439px) {
      height: 27rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      height: 23rem;
    }
  }

  /* Auto Pros Page */
  /* Header */
  .autopros-page-image {
    @apply mt-5 mb-10 lg:mt-0 lg:mb-20;
  }

  .autopros-page-image img{
    @apply bg-cover bg-no-repeat bg-center w-full h-44 rounded-lg;
    width: 100em;
    height: auto;
  }

/* Timeline */
  .timeline {
    @apply w-full lg:w-1/2 pl-5 md:pl-6 lg:px-0;
    position: relative;
    margin: 0 auto;
}

  .timeline-item {
    position: relative;
  }

  .timeline-item:not(:last-child){
    @apply border-l border-black pb-12;
  }

  .timeline-circle {
    @apply flex items-center justify-center font-roboto font-medium text-white text-lg md:text-2xl bg-vedoc-black;
      position: absolute;
      left: -20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;

    @media only screen and (min-width: 768px) {
      position: absolute;
      left: -25px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .timeline-content {
    padding-left: 40px;
  }

  .timeline-content h2 {
    @apply font-roboto font-medium text-lg md:text-2xl text-vedoc-black mb-1.5;
  }

  .timeline-content p {
    @apply font-light text-sm leading-8 text-vedoc-black;
  }

  .technician-phone {
    @apply bg-cover bg-no-repeat bg-center;
    background-image: url('/images/autopros_phone.png');
    width: 20rem;
    height: 25rem;
    @media only screen and (min-width: 768px) {
      width: 65rem;
      height: 27rem;
    }
    @media only screen and (min-width: 1024px) {
      width: 34rem;
      height: 31rem;
    }
    @media only screen and (min-width: 1280px) {
      width: 35rem;
      height: 42rem;
    }

  }

  /* Testimonial Card */
  .autopro-testimonial-card {
    @apply flex flex-col-reverse lg:flex-row leading-8 font-light lg:gap-10 xl:gap-20;
  }

  .autopro-testimonial-card h5 {
    @apply font-roboto font-medium text-2xl text-vedoc-black lg:py-2;
  }

  .autopro-text {
    @apply w-full pt-5 lg:pt-0 xl:w-1/2 flex flex-col justify-center text-center lg:text-left;
  }

  .autopro-text p {
    @apply text-sm lg:text-base leading-8 lg:leading-9 text-vedoc-black pb-10 lg:pb-0;
  }

  .autopro-testimonial-image {
    @apply flex justify-center items-center w-full xl:w-1/2;
  }

  .autopro-testimonial-image img {
    @apply bg-cover bg-no-repeat bg-center rounded-lg h-72 md:h-96 w-full object-cover object-center;

    @media only screen and (min-width: 1024px) {
      height: 24rem;
      width: 25rem;
    }
    @media only screen and (min-width: 1280px) {
      height: 31rem;
      width: 31rem;
    }
  }
}
